Repository data-opser/book-exchange, pull requests merged in 2024-06, with the labels that each got.

#15 Feature/links
  Frontend/bookpage/bookpage.css
  Frontend/bookpage/bookpage.html
  Frontend/catalog/catalog.css
  Frontend/catalog/catalog.html
  Frontend/choosebook/choosebook.css
  Frontend/choosebook/choosebook.html
  Frontend/homepage/main.css
  Frontend/homepage/main.html
  Frontend/login/login.css
  Frontend/login/login.html
  Frontend/profile/profile.css
  Frontend/profile/profile.html
  Frontend/register/register.css
  Frontend/register/register.html
Labels: website

#16 added editprofile
  Frontend/bookpage/bookpage.html
  Frontend/catalog/catalog.html
  Frontend/editprofile/editprofile.css
  Frontend/editprofile/editprofile.html
  Frontend/profile/profile.css
  Frontend/profile/profile.html
  Frontend/resources/camera.png
Labels: website

#18 Feature/add main request
  .idea/.gitignore
  .idea/book-exchange.iml
  .idea/deploymentTargetSelector.xml
  .idea/misc.xml
  .idea/modules.xml
  .idea/vcs.xml
  mobile/.idea/.name
  mobile/.idea/vcs.xml
  mobile/app/src/main/AndroidManifest.xml
  mobile/app/src/main/java/com/vladislav/mobile/ChangePasswordFragment.java
  mobile/app/src/main/java/com/vladislav/mobile/DrawerLayoutActivity.java
  mobile/app/src/main/java/com/vladislav/mobile/LaunchActivity.java
  mobile/app/src/main/java/com/vladislav/mobile/NotificationHandler.java
  mobile/app/src/main/java/com/vladislav/mobile/SettingsFragment.java
  mobile/app/src/main/res/drawable/book.jpg
  mobile/app/src/main/res/drawable/button.xml
  mobile/app/src/main/res/drawable/clock_night.xml
  mobile/app/src/main/res/drawable/email_night.xml
  mobile/app/src/main/res/drawable/exchange_light.xml
  mobile/app/src/main/res/drawable/exchange_night.xml
  mobile/app/src/main/res/drawable/frame_request_light.xml
  mobile/app/src/main/res/drawable/frame_request_night.xml
  mobile/app/src/main/res/drawable/phone_night.xml
  mobile/app/src/main/res/drawable/rectangle_bg_light.xml
  mobile/app/src/main/res/drawable/rectangle_bg_night.xml
  mobile/app/src/main/res/layout/activity_launch.xml
  mobile/app/src/main/res/layout/fragment_change_password.xml
  mobile/app/src/main/res/layout/fragment_home.xml
  mobile/app/src/main/res/layout/fragment_settings.xml
  mobile/app/src/main/res/layout/fragment_support.xml
  mobile/app/src/main/res/values-night/themes.xml
  mobile/app/src/main/res/values/colors.xml
  mobile/app/src/main/res/values/strings.xml
  mobile/app/src/main/res/values/themes.xml
Labels: mobile

#19 added tradepage
  Frontend/catalog/catalog.css
  Frontend/catalog/catalog.html
  Frontend/tradepage/tradepage.css
  Frontend/tradepage/tradepage.html
Labels: website

#20 Fix/pages bugs
  Frontend/bookpage/bookpage.html
  Frontend/catalog/catalog.css
  Frontend/catalog/catalog.html
  Frontend/editprofile/editprofile.css
  Frontend/homepage/main.css
  Frontend/homepage/main.html
  Frontend/login/login.css
  Frontend/profile/profile.css
  Frontend/profile/profile.html
  Frontend/register/register.css
  Frontend/register/register.html
  Frontend/resources/profiles/ares3.png
Labels: website

#21 Feature/offers logic
  Frontend/catalog/catalog.html
  Frontend/choosebook/choosebook.html
  Frontend/profile/profile.html
  Frontend/tradepage/tradepage.html
  api/app/routes.py
Labels: website, backend, api

#22 Feature/linked api
  .idea/misc.xml
  mobile/app/build.gradle.kts
  mobile/app/src/main/AndroidManifest.xml
  mobile/app/src/main/java/com/vladislav/mobile/ApiService.java
  mobile/app/src/main/java/com/vladislav/mobile/DataLastReleases.java
  mobile/app/src/main/java/com/vladislav/mobile/DataLogin.java
  mobile/app/src/main/java/com/vladislav/mobile/DrawerLayoutActivity.java
  mobile/app/src/main/java/com/vladislav/mobile/LaunchActivity.java
  mobile/app/src/main/java/com/vladislav/mobile/Request.java
  mobile/app/src/main/res/drawable/ares.png
  mobile/app/src/main/res/layout/activity_launch.xml
  mobile/app/src/main/res/layout/nav_header.xml
  mobile/gradle/libs.versions.toml
Labels: mobile

#23 Feature/accept trade
  Frontend/catalog/catalog.html
  Frontend/choosebook/choosebook.html
  Frontend/profile/profile.html
  Frontend/resources/profiles/data-opser.png
  api/app/routes.py
Labels: website, backend, api

#26 change_password route
  api/app/routes.py
Labels: enhancement, website, backend, api

#24 Fix/bugs after second iteration lashing
  Frontend/catalog/catalog.css
  Frontend/catalog/catalog.html
  Frontend/choosebook/choosebook.css
  Frontend/choosebook/choosebook.html
  Frontend/login/login.css
  Frontend/profile/profile.css
  Frontend/profile/profile.html
  Frontend/register/register.css
  Frontend/resources/profiles/ares3.png
  Frontend/tradepage/tradepage.css
  Frontend/tradepage/tradepage.html
Labels: website

#27 Feature/api reference processing
  api/app/routes.py
  mobile/app/src/main/java/com/vladislav/mobile/ApiService.java
  mobile/app/src/main/java/com/vladislav/mobile/ChangePasswordFragment.java
  mobile/app/src/main/java/com/vladislav/mobile/DataLastReleases.java
  mobile/app/src/main/java/com/vladislav/mobile/DrawerLayoutActivity.java
  mobile/app/src/main/java/com/vladislav/mobile/HomeFragment.java
  mobile/app/src/main/java/com/vladislav/mobile/Request.java
  mobile/app/src/main/java/com/vladislav/mobile/SettingsFragment.java
  mobile/app/src/main/res/layout/activity_launch.xml
  mobile/app/src/main/res/layout/fragment_home.xml
  mobile/app/src/main/res/values/strings.xml
Labels: mobile

#29 Books rating
  Frontend/bookpage/bookpage.html
  Frontend/catalog/catalog.html
  Frontend/homepage/main.html
  Frontend/profile/profile.html
  api/app/routes.py
Labels: website, backend, api

#28 Fix/problems with pages
  Frontend/catalog/catalog.css
  Frontend/catalog/catalog.html
  Frontend/homepage/main.html
  Frontend/profile/profile.css
  Frontend/profile/profile.html
  Frontend/resources/pencil.png
  Frontend/tradepage/tradepage.css
Labels: website

#30 fix name book
  mobile/app/src/main/java/com/vladislav/mobile/ApiService.java
  mobile/app/src/main/java/com/vladislav/mobile/ChangePasswordFragment.java
  mobile/app/src/main/java/com/vladislav/mobile/DataLogin.java
  mobile/app/src/main/java/com/vladislav/mobile/DrawerLayoutActivity.java
  mobile/app/src/main/java/com/vladislav/mobile/HomeFragment.java
  mobile/app/src/main/java/com/vladislav/mobile/LaunchActivity.java
  mobile/app/src/main/java/com/vladislav/mobile/Request.java
  mobile/app/src/main/res/layout/fragment_home.xml
Labels: mobile

#31 fix catalog
  Frontend/catalog/catalog.css
Labels: website

#32 Feature/favorites logic
  Frontend/bookpage/bookpage.html
  Frontend/profile/profile.html
  api/app/models.py
  api/app/routes.py
  api/migrations/versions/fa0ad278cde5_favorite_table.py
Labels: enhancement, website, backend, api

#33 Fix/bookpage and others
  Frontend/bookpage/bookpage.css
  Frontend/bookpage/bookpage.html
  Frontend/catalog/catalog.css
  Frontend/homepage/main.css
  Frontend/profile/profile.css
Labels: website

#34 fixed catalog page
  Frontend/catalog/catalog.html
Labels: website

#35 add exit delay and fix errors
  mobile/app/src/main/java/com/vladislav/mobile/DrawerLayoutActivity.java
Labels: mobile

#36 fix night theme switchbutton
  mobile/app/src/main/java/com/vladislav/mobile/DrawerLayoutActivity.java
  mobile/app/src/main/java/com/vladislav/mobile/HomeFragment.java
  mobile/app/src/main/java/com/vladislav/mobile/SettingsFragment.java
Labels: mobile
